{% comment %}
  Renders the mega-menu that appears on hover to any main link in the navbar.

  Usage:
  {% render 'mega-menu' %}
{% endcomment %}
{% liquid
  if link.links.size > 1
    for link in link.links
      if forloop.first
        assign collection_title = link.object.title
        assign collection_image = link.object.image
        assign collection_link = link.object.url
      else
        assign collection_title_2 = link.object.title
        assign collection_image_2 = link.object.image
        assign collection_link_2 = link.object.url
      endif
    endfor
  else
    for link in link.links
      for link in link.links
        if forloop.first
          assign collection_title = link.object.title
          assign collection_image = link.object.image
          assign collection_link = link.object.url
        else
          assign collection_title_2 = link.object.title
          assign collection_image_2 = link.object.image
          assign collection_link_2 = link.object.url
        endif
      endfor
    endfor
  endif
%}
<nav class="mega-menu-wrapper" style="display: none">
  <ul class="mega-menu-list">
    <li class="mega-menu-list-item"></li>
    <li class="mega-menu-list-item">
      <ul class="links-list">
        {% liquid
          if link.links
            for link in link.links
              if link.links.size == 0
                assign title_string = 'Shop by Collection'
              endif
            endfor
          endif
        %}
        {% if title_string %}
          <li>
            <h3 class="shop-by-title">{{ title_string }}</h3>
          </li>
        {% endif %}
        {% for link in link.links %}
          <li>
            {% if title_string %}
              <a class="link-to-collection" href="{{ link.url }}">
                <span class="link-to-collection-title">{{ link.title }}</span>
              </a>
            {% else %}
              <h3 class="title-of-collection">{{ link.title }}</h3>
            {% endif %}
          </li>
          {% unless title_string %}
            <li>
              <ul class="inner-links-list">
                {% for link in link.links %}
                  <li>
                    <a class="link-to-collection" href="{{ link.url }}">
                      <span class="link-to-collection-title">{{ link.title }}</span>
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </li>
          {% endunless %}
        {% endfor %}
      </ul>
    </li>
    <li class="mega_menu-list-item">
      <figure>
        <a href="{{ collection_link }}">
          {{ collection_image | image_url: width: 300 | image_tag }}
        </a>
        <figcaption>{{ collection_title }}</figcaption>
      </figure>
    </li>
    <li class="mega-menu-list-item">
      <figure>
        <a href="{{ collection_link_2 }}">
          {{ collection_image_2 | image_url: width: 300 | image_tag }}
        </a>
        <figcaption>{{ collection_title_2 }}</figcaption>
      </figure>
    </li>
  </ul>
</nav>
