{% comment %}
    Mobile Navbar Links. This is the drawer menu that will appear when the user clicks on the hamburger icon. It will display the main links of the navbar.

    Usage:
        {% render 'mobile-navbar-links' %}
{% endcomment %}
<div class="mobile-navbar__links-container" style="display: none">
    <div class="mobile-navbar__links">
        <ul class="mobile-navbar__primary-list">
            {% for link in linklists['main-menu'].links %}
                <li class="mobile-navbar__primary-item">
                    <a data-dropdown-rel="{{ link.title | downcase }}" href="{{ link.url }}">
                        <span>{{ link.title | upcase }}</span></a
                    >
                    {% render 'mega-menu-mobile', link: link %}
                </li>
            {% endfor %}
        </ul>
        <ul class="mobile-navbar__secondary-list">
            <li>
                <a href="{% if customer %}{{ routes.account_url }}{% else %}{{ routes.account_login_url }}{% endif %}">
                    {% if customer %}
                        {% if customer.has_avatar? %}
                            {{ customer | avatar -}}
                            <span class="item-text">My Account</span>
                        {% else %}
                            <span class="svg-wrapper">{{ 'user-icon.svg' | inline_asset_content }}</span>
                            <span class="item-text">My Account</span>
                        {% endif %}
                    {% else %}
                        <span class="svg-wrapper">{{ 'user-icon.svg' | inline_asset_content }}</span>
                        <span class="item-text">Login</span>
                    {% endif %}
                </a>
            </li>
        </ul>
    </div>
</div>
