{{ 'announcement-bar.css' | asset_url | stylesheet_tag }}
<script src="{{ 'announcement-bar.js' | asset_url }}" defer></script>
{% comment %} These variables are initialized here because I use the 'append' filter {% endcomment %}
{% liquid
  assign font_size = section.settings.font_size | append: 'px'
  assign letter_spacing = section.settings.letter_spacing | append: 'px' 
  assign buttons_size = section.settings.buttons_size | append: 'px'
%}
{% if section.settings.show_announcement_bar %}
  <section
    class="carousel"
    data-carousel
    style=" --background-color: {{ section.settings.background_color }}; --text-color: {{ section.settings.text_color }}; --letter-spacing: {{ letter_spacing }}; --buttons-size: {{ buttons_size }}; --font-size: {{ font_size }}"
  >
    {% case section.settings.arrow_type %}
      {% when 'common_arrows' %}
        <button 
          class="carousel-button prev"
          data-carousel-button="prev"
        >
          &#8592;
        </button>
        <button
          class="carousel-button next"
          data-carousel-button="next"
        >
          &#8594;
        </button>
      {% when 'triangle_headed_arrows' %}
        <button
          class="carousel-button prev"
          data-carousel-button="prev"
        >
          &#11104;
        </button>
        <button
          class="carousel-button next"
          data-carousel-button="next"
        >
          &#11106;
        </button>
      {% when 'double_arrows' %}
        <button
          class="carousel-button prev"
          data-carousel-button="prev"
        >
          &#8656;
        </button>
        <button
          class="carousel-button next"
          data-carousel-button="next"
        >
          &#8658;
        </button>
      {% when 'triple_arrows' %}
        <button
          class="carousel-button prev"
          data-carousel-button="prev"
        >
          &#8666;
        </button>
        <button
          class="carousel-button next"
          data-carousel-button="next"
        >
          &#8667;
        </button>
      {% when 'dashed_arrows' %}
        <button
          class="carousel-button prev"
          data-carousel-button="prev"
        >
          &#8672;
        </button>
        <button
          class="carousel-button next"
          data-carousel-button="next"
        >
          &#8674;
        </button>
      {% when 'harpoon_arrows' %}
        <button
          class="carousel-button prev"
          data-carousel-button="prev"
        >
          &#10594;
        </button>
        <button
          class="carousel-button next"
          data-carousel-button="next"
        >
          &#10596;
        </button>
      {% when 'bold_triangle_headed_arrows' %}
        <button
          class="carousel-button prev"
          data-carousel-button="prev"
        >
          &#11013;
        </button>
        <button
          class="carousel-button next"
          data-carousel-button="next"
        >
          &#11157;
        </button>
      {% when 'pointing_hands' %}
        <button
          class="carousel-button prev"
          data-carousel-button="prev"
        >
          &#9756;
        </button>
        <button
          class="carousel-button next"
          data-carousel-button="next"
        >
          &#9758;
        </button>
      {% when 'pointing_hands_minimalist' %}
        <button
          class="carousel-button prev"
          data-carousel-button="prev"
        >
          &#9754;
        </button>
        <button
          class="carousel-button next"
          data-carousel-button="next"
        >
          &#9755;
        </button>
      {% when 'pointing_angle_brackets_medium' %}
        <button
          class="carousel-button prev"
          data-carousel-button="prev"
        >
          &#10092;
        </button>
        <button
          class="carousel-button next"
          data-carousel-button="next"
        >
          &#10093;
        </button>
      {% when 'pointing_angle_brackets_heavy' %}
        <button
          class="carousel-button prev"
          data-carousel-button="prev"
        >
          &#10094;
        </button>
        <button
          class="carousel-button next"
          data-carousel-button="next"
        >
          &#10095;
        </button>
      {% when 'pointing_angle_brackets_heavy_bold' %}
        <button
          class="carousel-button prev"
          data-carousel-button="prev"
        >
          &#10096;
        </button>
        <button
          class="carousel-button next"
          data-carousel-button="next"
        >
          &#10097;
        </button>
      {% when 'less_and_more_than_signs' %}
        <button
          class="carousel-button prev"
          data-carousel-button="prev"
        >
          &#60;
        </button>
        <button
          class="carousel-button next"
          data-carousel-button="next"
        >
          &#62;
        </button>
      {% when 'less_and_more_than_signs_italics' %}
        <button
          class="carousel-button prev"
          data-carousel-button="prev"
        >
          &#8826;
        </button>
        <button
          class="carousel-button next"
          data-carousel-button="next"
        >
          &#8827;
        </button>
      {% when 'less_and_more_than_signs_fold' %}
        <button
          class="carousel-button prev"
          data-carousel-button="prev"
        >
          &#8880;
        </button>
        <button
          class="carousel-button next"
          data-carousel-button="next"
        >
          &#8881;
        </button>
      {% when 'less_and_more_than_signs_dots' %}
        <button
          class="carousel-button prev"
          data-carousel-button="prev"
        >
          &#8918;
        </button>
        <button
          class="carousel-button next"
          data-carousel-button="next"
        >
          &#8919;
        </button>
      {% when 'horizontal_cones' %}
        <button
          class="carousel-button prev"
          data-carousel-button="prev"
        >
          &#8882;
        </button>
        <button
          class="carousel-button next"
          data-carousel-button="next"
        >
          &#8883;
        </button>
    {% endcase %}
    <ul
      class="slider"
      data-slides
    >
      {% for block in section.blocks %}
        {% if forloop.first %}
          {% if block.settings.text != blank %}
            {% if block.settings.link_url != blank %}
              <li class="slide" data-active>
                <a
                  style="{% if section.settings.uppercase %} text-transform: uppercase; {% endif %}"
                  href="{{ block.settings.link_url }}"
                >
                  {{- block.settings.text -}}
                </a>
              </li>
            {% else %}
              <li
                class="slide"
                style="{% if section.settings.uppercase %} text-transform: uppercase; {% endif %}"
                data-active
              >
                <div style="{% if section.settings.uppercase %} text-transform: uppercase; {% endif %}">
                  {{ block.settings.text }}
                </div>
              </li>
            {% endif %}
          {% endif %}
        {% else %}
          {% if block.settings.text != blank %}
            {% if block.settings.link_url != blank %}
              <li class="slide">
                <a href="{{ block.settings.link_url }}">
                  {{- block.settings.text -}}
                </a>
              </li>
            {% else %}
              <li class="slide">
                <div style="{% if section.settings.uppercase %} text-transform: uppercase; {% endif %}">
                  {{ block.settings.text }}
                </div>
              </li>
            {% endif %}
          {% endif %}
        {% endif %}
      {% endfor %}
    </ul>
  </section>
{% endif %}

{% schema %}
{
  "name": "Announcement Bar",
  "tag": "div",
  "class": "announcement-bar",
  "settings": [
    {
      "type": "header",
      "content": "Announcement Bar Core Settings",
      "info": "Core settings you can choose. Showing or not the bar and the colors of text and background."
    },
    {
      "type": "checkbox",
      "id": "show_announcement_bar",
      "label": "Show Announcement Bar",
      "default": true
    },
    {
      "type": "color_background",
      "id": "background_color",
      "label": "Background Color",
      "default": "#242424"
    },{
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#FFF"
    },
    {
      "type": "header",
      "content": "Text Settings",
      "info": "Here you can customize how your text inside the announcement bar appears."
    },
    {
      "type": "paragraph",
      "content": "Be careful with the size of text and letter spacing you choose. Make sure to select the 'mobile' view and check if everything looks fine."
    },
    {
      "type": "checkbox",
      "id": "uppercase",
      "label": "Uppercase Text",
      "default": false
    },
    {
      "type": "range",
      "id": "letter_spacing",
      "label": "Spacing Between Letters",
      "min": 0,
      "max": 3,
      "step": 1,
      "unit": "px",
      "default": 1
    },
    {
      "type": "range",
      "id": "font_size",
      "label": "Font Size",
      "min": 8,
      "max": 12,
      "step": 1,
      "unit": "px",
      "default": 10
    },
    {
      "type": "range",
      "id": "buttons_size",
      "label": "Size of Buttons",
      "min": 8,
      "max": 15,
      "step": 1,
      "unit": "px",
      "default": 12
    },
    {
      "type": "header",
      "content": "Lateral Buttons Selection",
      "info": "Select the icon you want to appear as lateral buttons."
    },
    {
      "type": "select",
      "id": "arrow_type",
      "label": "Button Type",
      "options": [
        {
          "value": "common_arrows",
          "label": "Common Arrows"
        },
        {
          "value": "triangle_headed_arrows",
          "label": "Triangle Heded Arrows"
        },
        {
          "value": "bold_triangle_headed_arrows",
          "label": "Bold Triangle Headed Arrows"
        },
        {
          "value": "double_arrows",
          "label": "Double Arrows"
        },
        {
          "value": "triple_arrows",
          "label": "Triple Arrows"
        },
        {
          "value": "dashed_arrows",
          "label": "Dashed Arrows"
        },
        {
          "value": "harpoon_arrows",
          "label": "Harpoon Arrows"
        },
        {
          "value": "pointing_hands",
          "label": "Pointing Hands"
        },
        {
          "value": "pointing_hands_minimalist",
          "label": "Pointing Hands (Minimalist)"
        },
        {
          "value": "pointing_angle_brackets_medium",
          "label": "Pointing Angle Brackets (Medium)"
        },
        {
          "value": "pointing_angle_brackets_heavy",
          "label": "Pointing Angle Brackets (Heavy)"
        },
        {
          "value": "pointing_angle_brackets_heavy_bold",
          "label": "Pointing Angle Brackets Bold (Heavy)"
        },
        {
          "value": "less_and_more_than_signs",
          "label": "Less and More Than Signs"
        },
        {
          "value": "less_and_more_than_signs_italics",
          "label": "Less and More Than Signs (Italics)"
        },
        {
          "value": "less_and_more_than_signs_dots",
          "label": "Less and More Than Signs (With Dot)"
        },
        {
          "value": "less_and_more_than_signs_fold",
          "label": "Less and More Than Signs (With a Fold)"
        },
        {
          "value": "horizontal_cones",
          "label": "Horizontal Cones"
        }
      ],
      "default": "pointing_angle_brackets_heavy"
    }
  ],
  "blocks": [
    {
      "type": "links",
      "name": "Links",
      "limit": 4,
      "settings": [
        {
          "type": "url",
          "id": "link_url",
          "label": "Link URL"
        },
        {
          "type": "inline_richtext",
          "id": "text",
          "label": "Text",
          "default": "Welcome to our store! 🕺🏾"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Announcement Bar",
      "settings": {
        "show_announcement_bar": true,
        "uppercase": true,
        "arrow_type": "pointing_angle_brackets_heavy"
      },
      "blocks": [
        {
          "type": "links",
          "settings": {
            "text": "Welcome To Our Store! 🕺🏾"
          }
        },
        {
          "type": "links",
          "settings": {
            "text": "Shipping Worldide ✈️"
          }
        },
        {
          "type": "links",
          "settings": {
            "text": "Free Shipping in orders Above $100"
          }
        }
      ]
    }
  ]
}
{% endschema %}
