{{ 'announcement-bar.css' | asset_url | stylesheet_tag }}
<script src="{{ 'announcement-bar.js' | asset_url }}" defer></script>
{% if section.settings.show_announcement_bar %}
  <section class="carousel" data-carousel style=" --background-color: {{ section.settings.background_color }} ;  ">
    {% case section.settings.arrow_type %}
      {% when 'common_arrows' %}
        <button
          style="--text-color: {{ section.settings.text_color }}"
          class="carousel-button prev"
          data-carousel-button="prev"
        >
          &#8592;
        </button>
        <button
          style="--text-color: {{ section.settings.text_color }}"
          class="carousel-button next"
          data-carousel-button="next"
        >
          &#8594;
        </button>
      {% when 'triangle_headed_arrows' %}
        <button
          style="--text-color: {{ section.settings.text_color }}"
          class="carousel-button prev"
          data-carousel-button="prev"
        >
          &#11104;
        </button>
        <button
          style="--text-color: {{ section.settings.text_color }}"
          class="carousel-button next"
          data-carousel-button="next"
        >
          &#11106;
        </button>
      {% when 'double_arrows' %}
        <button
          style="--text-color: {{ section.settings.text_color }}"
          class="carousel-button prev"
          data-carousel-button="prev"
        >
          &#8656;
        </button>
        <button
          style="--text-color: {{ section.settings.text_color }}"
          class="carousel-button next"
          data-carousel-button="next"
        >
          &#8658;
        </button>
      {% when 'triple_arrows' %}
        <button
          style="--text-color: {{ section.settings.text_color }}"
          class="carousel-button prev"
          data-carousel-button="prev"
        >
          &#8666;
        </button>
        <button
          style="--text-color: {{ section.settings.text_color }}"
          class="carousel-button next"
          data-carousel-button="next"
        >
          &#8667;
        </button>
      {% when 'dashed_arrows' %}
        <button
          style="--text-color: {{ section.settings.text_color }}"
          class="carousel-button prev"
          data-carousel-button="prev"
        >
          &#8672;
        </button>
        <button
          style="--text-color: {{ section.settings.text_color }}"
          class="carousel-button next"
          data-carousel-button="next"
        >
          &#8674;
        </button>
      {% when 'harpoon_arrows' %}
        <button
          style="--text-color: {{ section.settings.text_color }}"
          class="carousel-button prev"
          data-carousel-button="prev"
        >
          &#10594;
        </button>
        <button
          style="--text-color: {{ section.settings.text_color }}"
          class="carousel-button next"
          data-carousel-button="next"
        >
          &#10596;
        </button>
      {% when 'bold_triangle_headed_arrows' %}
        <button
          style="--text-color: {{ section.settings.text_color }}"
          class="carousel-button prev"
          data-carousel-button="prev"
        >
          &#11013;
        </button>
        <button
          style="--text-color: {{ section.settings.text_color }}"
          class="carousel-button next"
          data-carousel-button="next"
        >
          &#11157;
        </button>
      {% when 'pointing_hands' %}
        <button
          style="--text-color: {{ section.settings.text_color }}"
          class="carousel-button prev"
          data-carousel-button="prev"
        >
          &#9756;
        </button>
        <button
          style="--text-color: {{ section.settings.text_color }}"
          class="carousel-button next"
          data-carousel-button="next"
        >
          &#9758;
        </button>
      {% when 'pointing_hands_minimalist' %}
        <button
          style="--text-color: {{ section.settings.text_color }}"
          class="carousel-button prev"
          data-carousel-button="prev"
        >
          &#9754;
        </button>
        <button
          style="--text-color: {{ section.settings.text_color }}"
          class="carousel-button next"
          data-carousel-button="next"
        >
          &#9755;
        </button>
      {% when 'pointing_angle_brackets_medium' %}
        <button
          style="--text-color: {{ section.settings.text_color }}"
          class="carousel-button prev"
          data-carousel-button="prev"
        >
          &#10092;
        </button>
        <button
          style="--text-color: {{ section.settings.text_color }}"
          class="carousel-button next"
          data-carousel-button="next"
        >
          &#10093;
        </button>
      {% when 'pointing_angle_brackets_heavy' %}
        <button
          style="--text-color: {{ section.settings.text_color }}"
          class="carousel-button prev"
          data-carousel-button="prev"
        >
          &#10094;
        </button>
        <button
          style="--text-color: {{ section.settings.text_color }}"
          class="carousel-button next"
          data-carousel-button="next"
        >
          &#10095;
        </button>
      {% when 'pointing_angle_brackets_heavy_bold' %}
        <button
          style="--text-color: {{ section.settings.text_color }}"
          class="carousel-button prev"
          data-carousel-button="prev"
        >
          &#10096;
        </button>
        <button
          style="--text-color: {{ section.settings.text_color }}"
          class="carousel-button next"
          data-carousel-button="next"
        >
          &#10097;
        </button>
      {% when 'less_and_more_than_signs' %}
        <button
          style="--text-color: {{ section.settings.text_color }}"
          class="carousel-button prev"
          data-carousel-button="prev"
        >
          &#60;
        </button>
        <button
          style="--text-color: {{ section.settings.text_color }}"
          class="carousel-button next"
          data-carousel-button="next"
        >
          &#62;
        </button>
      {% when 'less_and_more_than_signs_italics' %}
        <button
          style="--text-color: {{ section.settings.text_color }}"
          class="carousel-button prev"
          data-carousel-button="prev"
        >
          &#8826;
        </button>
        <button
          style="--text-color: {{ section.settings.text_color }}"
          class="carousel-button next"
          data-carousel-button="next"
        >
          &#8827;
        </button>
      {% when 'less_and_more_than_signs_fold' %}
        <button
          style="--text-color: {{ section.settings.text_color }}"
          class="carousel-button prev"
          data-carousel-button="prev"
        >
          &#8880;
        </button>
        <button
          style="--text-color: {{ section.settings.text_color }}"
          class="carousel-button next"
          data-carousel-button="next"
        >
          &#8881;
        </button>
      {% when 'less_and_more_than_signs_dots' %}
        <button
          style="--text-color: {{ section.settings.text_color }}"
          class="carousel-button prev"
          data-carousel-button="prev"
        >
          &#8918;
        </button>
        <button
          style="--text-color: {{ section.settings.text_color }}"
          class="carousel-button next"
          data-carousel-button="next"
        >
          &#8919;
        </button>
      {% when 'horizontal_cones' %}
        <button
          style="--text-color: {{ section.settings.text_color }}"
          class="carousel-button prev"
          data-carousel-button="prev"
        >
          &#8882;
        </button>
        <button
          style="--text-color: {{ section.settings.text_color }}"
          class="carousel-button next"
          data-carousel-button="next"
        >
          &#8883;
        </button>
    {% endcase %}
    <ul class="slider" data-slides>
      {% for block in section.blocks %}
        {% if forloop.first %}
          {% if block.settings.text != blank %}
            {% if block.settings.link_url != blank %}
              <li class="slide" data-active>
                <a
                  style="--text-color: {{ section.settings.text_color }}; {% if section.settings.uppercase %} text-transform: uppercase; {% endif %}"
                  href="{{ block.settings.link_url }}"
                >
                  {{- block.settings.text -}}
                </a>
              </li>
            {% else %}
              <li
                class="slide"
                style="--text-color: {{ section.settings.text_color }}; {% if section.settings.uppercase %} text-transform: uppercase; {% endif %}"
                data-active
              >
                <div style="{% if section.settings.uppercase %} text-transform: uppercase; {% endif %}">
                  {{ block.settings.text }}
                </div>
              </li>
            {% endif %}
          {% endif %}
        {% else %}
          {% if block.settings.text != blank %}
            {% if block.settings.link_url != blank %}
              <li class="slide">
                <a style="--text-color: {{ section.settings.text_color }}" href="{{ block.settings.link_url }}">
                  {{- block.settings.text -}}
                </a>
              </li>
            {% else %}
              <li class="slide" style="--text-color: {{ section.settings.text_color }}">
                <div style="{% if section.settings.uppercase %} text-transform: uppercase; {% endif %}">
                  {{ block.settings.text }}
                </div>
              </li>
            {% endif %}
          {% endif %}
        {% endif %}
      {% endfor %}
    </ul>
  </section>
{% endif %}

{% schema %}
{
  "name": "Announcement Bar",
  "tag": "div",
  "class": "announcement-bar",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_announcement_bar",
      "label": "Show Announcement Bar",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "uppercase",
      "label": "Uppercase Text",
      "default": false
    },
    {
      "type": "color_background",
      "id": "background_color",
      "label": "Background Color",
      "default": "#242424"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#FFF"
    },
    {
      "type": "select",
      "id": "arrow_type",
      "label": "Arrow Type",
      "options": [
        {
          "value": "common_arrows",
          "label": "Common Arrows"
        },
        {
          "value": "triangle_headed_arrows",
          "label": "Triangle Heded Arrows"
        },
        {
          "value": "bold_triangle_headed_arrows",
          "label": "Bold Triangle Headed Arrows"
        },
        {
          "value": "double_arrows",
          "label": "Double Arrows"
        },
        {
          "value": "triple_arrows",
          "label": "Triple Arrows"
        },
        {
          "value": "dashed_arrows",
          "label": "Dashed Arrows"
        },
        {
          "value": "harpoon_arrows",
          "label": "Harpoon Arrows"
        },
        {
          "value": "pointing_hands",
          "label": "Pointing Hands"
        },
        {
          "value": "pointing_hands_minimalist",
          "label": "Pointing Hands (Minimalist)"
        },
        {
          "value": "pointing_angle_brackets_medium",
          "label": "Pointing Angle Brackets (Medium)"
        },
        {
          "value": "pointing_angle_brackets_heavy",
          "label": "Pointing Angle Brackets (Heavy)"
        },
        {
          "value": "pointing_angle_brackets_heavy_bold",
          "label": "Pointing Angle Brackets Bold (Heavy)"
        },
        {
          "value": "less_and_more_than_signs",
          "label": "Less and More Than Signs"
        },
        {
          "value": "less_and_more_than_signs_italics",
          "label": "Less and More Than Signs (Italics)"
        },
        {
          "value": "less_and_more_than_signs_dots",
          "label": "Less and More Than Signs (With Dot)"
        },
        {
          "value": "less_and_more_than_signs_fold",
          "label": "Less and More Than Signs (With a Fold)"
        },
        {
          "value": "horizontal_cones",
          "label": "Horizontal Cones"
        }
      ],
      "default": "pointing_angle_brackets_heavy"
    }
  ],
  "blocks": [
    {
      "type": "links",
      "name": "Links",
      "limit": 4,
      "settings": [
        {
          "type": "url",
          "id": "link_url",
          "label": "Link URL"
        },
        {
          "type": "inline_richtext",
          "id": "text",
          "label": "Text",
          "default": "Welcome to our store! 🕺🏾"
        }
      ]
    }
  ]
}
{% endschema %}
