{{ 'collection-grid.css' | asset_url | stylesheet_tag }}
<div
    style="{% unless section.settings.typeface == 'normal' %}--title-typeface: 'Cormorant Unicase', serif{% endunless %}"
    class="collection-grid__wrapper"
>
    {% if section.settings.show_title and section.settings.title != blank %}
        <h2 class="collection-grid__title">{{ section.settings.title }}</h2>
    {% else %}
        <h2 class="collection-grid__title">Check Our Bestsellers</h2>
    {% endif %}
    <ul class="collection-grid__collections-wrapper">
        {% for block in section.blocks %}
            {% if block.settings.collection != blank %}
                {% assign collection = block.settings.collection %}
                <li class="collection-grid__item" {{ block.shopify_attributes }}>
                    <a href="{{ collection.url }}" class="collection-grid__link">
                        <figure class="collection-grid__figure">
                            {% if block.settings.image != blank %}
                                {{
                                    block.settings.image
                                    | image_url: width: 400
                                    | image_tag:
                                        class: 'collection-grid__image',
                                        alt: block.settings.title,
                                        widths: '200, 400'
                                }}
                            {% else %}
                                {{
                                    collection.featured_image
                                    | image_url: width: 800
                                    | image_tag:
                                        class: 'collection-grid__image',
                                        alt: block.settings.title,
                                        widths: '400, 800'
                                }}
                            {% endif %}
                            <figcaption class="collection-grid__figcaption">
                                {% if block.settings.title != blank %}
                                    <h3 class="collection-grid__figcaption-title">
                                        {{ block.settings.title }}
                                    </h3>
                                {% else %}
                                    <h3 class="collection-grid__figcaption-title">{{ collection.title }}</h3>
                                {% endif %}
                            </figcaption>
                        </figure>
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>

{% schema %}
{
    "name": "Collection Grid",
    "tag": "section",
    "class": "collection-grid__container",
    "max_blocks": 4,
    "settings": [
        {
            "type": "header",
            "content": "General Settings"
        },
        {
            "type": "paragraph",
            "content": "This section won't display anything if you don't add AT LEAST 2 collection blocks. Make sure to add at least 2 collection blocks. This is done for User Experience and User Interface purposes."
        },
        {
            "type": "checkbox",
            "id": "show_title",
            "label": "Show section title",
            "default": true
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Collections",
            "info": "Optional. You can add a personalized title for the section if you want. If nothing is added the default title will be used."
        },
        {
            "type": "select",
            "id": "typeface",
            "label": "Typeface",
            "options": [
                {
                    "value": "normal",
                    "label": "Normal"
                },
                {
                    "value": "sophisticated",
                    "label": "Sophisticated"
                }
            ],
            "default": "sophisticated",
            "info": "Choose the type of font you want for the title."
        }
    ],
    "blocks": [
        {
            "type": "collection",
            "name": "Collection",
            "settings": [
                {
                    "type": "collection",
                    "id": "collection",
                    "label": "Collection"
                },
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Card Image"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Card Title"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Collection Grid"
        }
    ]
}
{% endschema %}
