{{ 'collection-grid.css' | asset_url | stylesheet_tag }}
<div class="collection-grid__wrapper">
    <ul class="collection-grid__collections-wrapper">
        {% for block in section.blocks %}
            {% if block.settings.collection != blank %}
                {% assign collection = block.settings.collection %}
                <li class="collection-grid__item" {{ block.shopify_attributes }}>
                    <a href="{{ collection.url }}" class="collection-grid__link">
                        <figure class="collection-grid__figure">
                            {% if block.settings.image != blank %}
                                {{
                                    block.settings.image
                                    | image_url: width: 400
                                    | image_tag:
                                        class: 'collection-grid__image',
                                        alt: block.settings.title,
                                        widths: '200, 400'
                                }}
                            {% else %}
                                {{
                                    collection.featured_image
                                    | image_url: width: 400
                                    | image_tag:
                                        class: 'collection-grid__image',
                                        alt: block.settings.title,
                                        widths: '200, 400'
                                }}
                            {% endif %}
                            <figcaption class="collection-grid__figcaption">
                                {% if block.settings.title != blank %}
                                    <h3 class="collection-grid__title">
                                        {{ block.settings.title }}
                                    </h3>
                                {% else %}
                                    <h3 class="collection-grid__title">{{ collection.title }}</h3>
                                {% endif %}
                            </figcaption>
                        </figure>
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>

{% schema %}
{
    "name": "Collection Grid",
    "tag": "section",
    "class": "collection-grid__container",
    "max_blocks": 4,
    "settings": [],
    "blocks": [
        {
            "type": "collection",
            "name": "Collection",
            "settings": [
                {
                    "type": "collection",
                    "id": "collection",
                    "label": "Collection"
                },
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Card Image"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Card Title"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Collection Grid"
        }
    ]
}
{% endschema %}
