{{ 'image-banner.css' | asset_url | stylesheet_tag }}
<div
  class="banner-container"
  style="{% if section.settings.background_image != blank %}--background-image: url('{{ section.settings.background_image | image_url: width: 1920, height: 1080, crop: "center" }}'); {% else %}--background-image: url('{{ 'background-image.webp' | asset_url }}');{% endif %} --background-opacity: {{ section.settings.background_opacity | divided_by: 100.0 }}; --title-color: {{ section.settings.title_color }}; --title-size-desktop: {{ section.settings.title_size_desktop }}px; --title-size-mobile: {{ section.settings.title_size_mobile }}px; {% unless section.settings.typeface == 'normal' %} --title-typeface: 'Cormorant Unicase', serif{% endunless %}; --title-width-desktop: {{ section.settings.title_width_desktop }}px; --title-width-tablet: {{ section.settings.title_width_tablet }}px; --title-width-mobile: {{ section.settings.title_width_mobile }}px; --title-letter-spacing: {{ section.settings.title_letter_spacing }}px;"
>
  <a href="{{ section.settings.collection.url }}" class="banner-link">
    {% if section.settings.show_sales_bar %}
      {% if section.blocks.size > 0 %}
        {% liquid
          assign block = section.blocks.first
        %}
        <section
          class="sales-bar-container"
          style="--background-color: {{ block.settings.background_color }}; --text-color: {{ block.settings.sales_bar_text_color }}; --padding-x: {{ block.settings.padding_x }}px; --padding-y: {{ block.settings.padding_y }}px; --font-size: {{ block.settings.font_size }}px;"
        >
          <a href="{{ block.settings.url }}">
            {{ block.settings.sales_bar_text }}
          </a>
        </section>
      {% endif %}
    {% endif %}
    <section class="banner-content">
      <h1
        class="banner-title"
        style="color: {{ section.settings.title_color }};"
      >
        {% if section.settings.title != blank %}
          {{ section.settings.title }}
        {% else %}
          {{ section.settings.collection.title }}
        {% endif %}
      </h1>
      <button class="banner-button" type="button">
        <a href="{{ section.settings.collection.url }}">SHOP NOW</a>
      </button>
    </section>
  </a>
</div>

{% schema %}
{
  "name": "image banner",
  "tag": "section",
  "class": "image-banner-container",
  "settings": [
    {
      "type": "header",
      "content": "Sales Bar",
      "info": "You can include a mini sales bar that looks like an announcement bar embedded inside the image baner section. we suggest to use this when you have a sales promotion collection where you would like customers to visit, since it will appear on top of the image banner, it will have a secondary role inside the banner overall."
    },
    {
      "type": "checkbox",
      "id": "show_sales_bar",
      "label": "show inner sales bar",
      "default": false
    },
    {
      "type": "header",
      "content": "Select Collection",
      "info": "Based on the collection you choose this section will direct customers to a specific collection."
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "collection to show"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "background image",
      "info": "if no image is added here the collection's image will be shown."
    },
    {
      "type": "range",
      "id": "background_opacity",
      "label": "Background Opacity",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "default": 50
    },
    {
      "type": "header",
      "content": "Text & Typography"
    },
    {
      "type": "color",
      "id": "title_color",
      "label": "Title Color",
      "default": "#FFFFFF"
    },
    {
      "type": "select",
      "id": "typeface",
      "label": "Typeface",
      "options": [
        {
          "value": "normal",
          "label": "Normal"
        },
        {
          "value": "sophisticated",
          "label": "Sophisticated"
        }
      ],
      "default": "sophisticated",
      "info": "Choose the type of font you want for the title."
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "ELEVATE YOUR STYLE WITH OUR LATEST COLLECTION",
      "info": "If you don't specify a Title here, the Collection Title will be used as Title."
    },
    {
      "type": "header",
      "content": "Title Size & Width",
      "info": "On the top-right corner of your screen you have three screen sizes based on device (Desktop, Tablet, Mobile), when changing the sizes make sure to be on the respective device to see the changes."
    },
    {
      "type": "range",
      "id": "title_size_desktop",
      "label": "Title Size (Desktop)",
      "min": 20,
      "max": 40,
      "step": 2,
      "unit": "px",
      "default": 30
    },
    {
      "type": "range",
      "id": "title_size_mobile",
      "label": "Title Size (Tablet & Mobile)",
      "min": 16,
      "max": 32,
      "step": 2,
      "unit": "px",
      "default": 26
    },
    {
      "type": "range",
      "id": "title_width_desktop",
      "label": "Title Width (Desktop)",
      "min": 200,
      "max": 800,
      "step": 50,
      "unit": "px",
      "default": 400
    },
    {
      "type": "range",
      "id": "title_width_tablet",
      "label": "Title Width (Tablet)",
      "min": 200,
      "max": 500,
      "step": 20,
      "unit": "px",
      "default": 300
    },
    {
      "type": "range",
      "id": "title_width_mobile",
      "label": "Title Width (Mobile)",
      "min": 200,
      "max": 400,
      "step": 20,
      "unit": "px",
      "default": 280
    },
    {
      "type": "range",
      "id": "title_letter_spacing",
      "label": "Title Letter Spacing",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "px",
      "default": 0
    }
  ],
  "max_blocks": 1,
  "blocks": [
    {
      "type": "sales_bar",
      "name": "Sales Bar",
      "settings": [
        {
          "type": "header",
          "content": "General"
        },
        {
          "type": "url",
          "id": "sales_bar_url",
          "label": "Sales Bar Url",
          "info": "This URL will redirect customers to wherever you choose to send them. You can send them to any part of your own store (collections, pages, articles, products...) or any external links to other websites."
        },
        {
          "type": "color_background",
          "id": "background_color",
          "label": "Background Color",
          "default": "#242424"
        },
        {
          "type": "range",
          "id": "padding_y",
          "label": "Padding on Y axis",
          "min": 5,
          "max": 15,
          "step": 1,
          "unit": "px",
          "default": 10
        },
        {
          "type": "range",
          "id": "padding_x",
          "label": "Padding on X axis",
          "min": 5,
          "max": 15,
          "step": 1,
          "unit": "px",
          "default": 10
        },
        {
          "type": "header",
          "content": "Text & Typography"
        },
        {
          "type": "range",
          "id": "font_size",
          "label": "Font Size",
          "min": 8,
          "max": 14,
          "step": 1,
          "unit": "px",
          "default": 12
        },
        {
          "type": "text",
          "id": "sales_bar_text",
          "label": "Sales Bar Text",
          "default": "Sales on our best pieces!"
        },
        {
          "type": "color",
          "id": "sales_bar_text_color",
          "label": "Sales Bar Text Color",
          "default": "#FFFFFF"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image Banner"
    }
  ]
}
{% endschema %}
