{{ 'flickity.min.css' | asset_url | stylesheet_tag }}
{{ 'main-collection-product-grid.css' | asset_url | stylesheet_tag }}
<script src="{{ 'flickity.pkgd.min.js' | asset_url }}" defer></script>
<script src="{{ 'collection-grid.js' | asset_url }}" defer></script>
<script src="{{ 'product-slider.js' | asset_url }}" defer></script>
<div class="collection-product-grid__wrapper">
    {% paginate collection.products by 10 %}
        <div class="collection-product-grid__header">
            <div class="collection-product-grid__title-wrapper">
                <h1 class="collection-product-grid__title">{{ collection.title }}</h1>
                <span>
                    {% if collection.all_products_count != 0 %}
                        {% if collection.all_products_count == 1 %}
                            {{ collection.all_products_count }} product
                        {% else %}
                            {{ collection.all_products_count }} products
                        {% endif %}
                    {% else %}
                        No products found
                    {% endif %}
                </span>
            </div>
            <div class="collection-product-grid__sort-wrapper">
                <sort-by>
                    <form method="get">
                        <div>
                            {% assign sort_by = collection.sort_by | default: collection.default_sort_by %}
                            <select id="SortBy" name="SortBy">
                                {% for option in collection.sort_options %}
                                    <option
                                        value="{{ option.value }}"
                                        {% if option.value == sort_by %}
                                            selected
                                        {% endif %}
                                    >
                                        {{ option.name | escape }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </form>
                </sort-by>
            </div>
        </div>
        <hr>
        {% comment %} Collection Grid with filters sidebar {% endcomment %}
        <div class="collection-product-grid__content-wrapper">
            <aside class="collection-product-grid__sidebar">
                <form-facets>
                    <form>
                        {%- for filter in collection.filters -%}
                            <details
                                {% if forloop.index <= 3 or filter.active_values.size > 0 %}
                                    open
                                {% endif %}
                            >
                                <summary>
                                    <div>
                                        <h4 class="collection-product-grid__filter-title">
                                            {{ filter.label }}
                                            {% if filter.active_values.size > 0 %}
                                                ({{ filter.active_values.size }})
                                            {% endif %}
                                            <span>
                                                <svg
                                                    width="20px"
                                                    height="20px"
                                                    viewBox="0 0 20 20"
                                                    fill="none"
                                                    xmlns="http://www.w3.org/2000/svg"
                                                >
                                                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M7 10L12 15L17 10" stroke="#333" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"></path> </g>
                                                </svg>
                                            </span>
                                        </h4>
                                    </div>
                                </summary>

                                <div>
                                    <div>
                                        {%- if filter.active_values.size > 0 -%}
                                            <p><a href="{{ filter.url_to_remove }}">Reset</a></p>
                                        {%- endif -%}
                                    </div>
                                    {%- case filter.type -%}
                                        {%- when 'boolean' -%}
                                            <ul>
                                                <li>
                                                    <label for="Filter-{{ filter.param_name }}-{{ filter.true_value.value }}">
                                                        <input
                                                            type="checkbox"
                                                            name="{{ filter.param_name }}"
                                                            value="{{ filter.true_value.value }}"
                                                            id="Filter-{{ filter.param_name }}"
                                                            {% if filter.true_value.active -%}
                                                                checked
                                                            {%- endif %}
                                                            {% if filter.true_value.count == 0
                                                                and filter.true_value.active == false
                                                            -%}
                                                                disabled
                                                            {%- endif -%}
                                                        >
                                                        {{- filter.true_value.label -}}
                                                    </label>
                                                </li>
                                                <li>
                                                    <label for="Filter-{{ filter.param_name }}-{{ filter.false_value.value }}">
                                                        <input
                                                            type="checkbox"
                                                            name="{{ filter.param_name }}"
                                                            value="{{ filter.false_value.value }}"
                                                            id="Filter-{{ filter.param_name }}"
                                                            {% if filter.false_value.active -%}
                                                                checked
                                                            {%- endif %}
                                                            {% if filter.false_value.count == 0
                                                                and filter.false_value.active == false
                                                            -%}
                                                                disabled
                                                            {%- endif %}
                                                        >
                                                        {{- filter.false_value.label -}}
                                                    </label>
                                                </li>
                                            </ul>

                                        {%- when 'list' -%}
                                            <ul>
                                                {%- for filter_value in filter.values -%}
                                                    <li>
                                                        <label for="Filter-{{ filter.param_name }}-{{ forloop.index }}">
                                                            <input
                                                                type="checkbox"
                                                                name="{{ filter_value.param_name }}"
                                                                value="{{ filter_value.value }}"
                                                                id="Filter-{{ filter.param_name }}-{{ forloop.index }}"
                                                                {% if filter_value.active -%}
                                                                    checked
                                                                {%- endif %}
                                                                {% if filter_value.count == 0
                                                                    and filter_value.active == false
                                                                -%}
                                                                    disabled
                                                                {%- endif %}
                                                            >
                                                            <span>
                                                                {%- case filter_value.display.type -%}
                                                                    {%- when 'colors' -%}
                                                                        {% liquid
                                                                            assign size_limit = filter_value.display.value.size | at_most: 4
                                                                            assign rotation = '0deg'
                                                                            if size_limit == 2
                                                                                assign rotation = '45deg'
                                                                            endif

                                                                            assign angle_increment = 360 | divided_by: size_limit
                                                                            assign angle = 0
                                                                        %}
                                                                        {%- capture conic_gradient -%}
                                              {%- for color in filter_value.display.value limit: size_limit -%}
                                                {{ color }} {{ angle }}deg{%- assign angle = angle | plus: angle_increment %} {{ angle }}deg{%- unless forloop.last %}, {%- endunless -%}
                                              {%- endfor -%}
                                            {%- endcapture -%}
                                                                        <span
                                                                            style="
                                                                                width: 25px;
                                                                                height: 25px;
                                                                                border-radius: 50%;
                                                                                display: flex;
                                                                                justify-content: center;
                                                                                align-items: center;
                                                                                background: conic-gradient({{ conic_gradient }}); transform: rotateZ({{ rotation }});
                                                                            "
                                                                        ></span>
                                                                    {%- when 'image' -%}
                                                                        {{
                                                                            filter_value.display.value
                                                                            | image_url: width: 25
                                                                            | image_tag:
                                                                                alt: filter_value.display.value.alt
                                                                        }}
                                                                    {%- else -%}
                                                                        <span class="visual-display__child"></span>
                                                                {%- endcase -%}
                                                            </span>
                                                            {{ filter_value.label }}
                                                        </label>
                                                    </li>
                                                {%- endfor -%}
                                            </ul>

                                        {%- when 'price_range' -%}
                                            <div id="PriceRange" class="filter-group-display__price-range">
                                                <div class="filter-group-display__price-range-from">
                                                    <label for="Filter-{{ filter.min_value.param_name }}">From</label>
                                                    <input
                                                        name="{{ filter.min_value.param_name }}"
                                                        id="Filter-{{ filter.min_value.param_name }}"
                                                        {% if filter.min_value.value -%}
                                                            value="{{ filter.min_value.value | money_without_currency | replace: ',', '' }}"
                                                        {%- endif %}
                                                        type="number"
                                                        placeholder="0"
                                                        min="0"
                                                        max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                                                    >

                                                    <span>{{ cart.currency.symbol }}</span>
                                                </div>
                                                <div class="filter-group-display__price-range-to">
                                                    <label for="Filter-{{ filter.max_value.param_name }}">To</label>
                                                    <input
                                                        name="{{ filter.max_value.param_name }}"
                                                        id="Filter-{{ filter.max_value.param_name }}"
                                                        {% if filter.max_value.value -%}
                                                            value="{{ filter.max_value.value | money_without_currency | replace: ',', '' }}"
                                                        {%- endif %}
                                                        type="number"
                                                        placeholder="{{ filter.range_max | money_without_currency }}"
                                                        min="0"
                                                        max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                                                    >

                                                    <span>{{ cart.currency.symbol }}</span>
                                                </div>
                                            </div>

                                            <div class="filter-group-display__submit">
                                                <input type="submit" value="Apply">
                                            </div>
                                    {%- endcase -%}
                                </div>
                            </details>
                        {%- endfor -%}

                        <div>
                            <p><a href="{{ collection.url }}?sort_by={{ collection.sort_by }}">Clear all</a></p>

                            {%- for filter in collection.filters -%}
                                {%- if filter.type == 'price_range' -%}
                                    {%- if filter.min_value.value != null or filter.max_value.value != null -%}
                                        <p>
                                            <a href="{{ filter.url_to_remove }}">
                                                {%- assign min_value = filter.min_value.value | default: 0 -%}
                                                {%- assign max_value = filter.max_value.value
                                                    | default: filter.range_max
                                                -%}
                                                {{ min_value | money }} - {{ max_value | money }} X
                                            </a>
                                        </p>
                                    {%- endif -%}
                                {%- else -%}
                                    {%- for filter_value in filter.active_values -%}
                                        <p>
                                            <a href="{{ filter_value.url_to_remove }}">
                                                {{ filter.label }}: {{ filter_value.label }} X
                                            </a>
                                        </p>
                                    {%- endfor -%}
                                {%- endif -%}
                            {%- endfor -%}
                        </div>
                    </form>
                </form-facets>
            </aside>
            <div class="collection-product-grid__products-wrapper">
                {% for product in collection.products %}
                    {% render 'product-card', product: product %}
                {% endfor %}
            </div>
        </div>
    {% endpaginate %}
</div>

{% schema %}
{
    "name": "Collection Product Grid",
    "tag": "section",
    "class": "collection-product-grid__container",
    "settings": []
}
{% endschema %}
