{{ 'main-collection-product-grid.css' | asset_url | stylesheet_tag }}
<script src="{{ 'facets.js' | asset_url }}" defer></script>
<div class="page-width" id="product-grid" data-id="{{ section.id }}">
    {% paginate collection.products by 10 %}
        {% comment %} Sorting form first tabbable element {% endcomment %}
        <facet-filters-form class="sidebar-filters facet-filters">
            <form id="FacetSortForm" class="facets__form">
                <div class="facet-filters__field">
                    <div class="select">
                        <h2>
                            <label for="SortBy">Sort By:</label>
                        </h2>
                        <div class="sort-wrapper">
                            {% assign sort_by = collection.sort_by | default: collection.default_sort_by %}
                            <select id="SortBy" name="sort_by" class="facet-filters__sort">
                                {% for option in collection.sort_options %}
                                    <option
                                        value="{{ option.value | escape }}"
                                        {% if option.value == sort_by %}
                                            selected="selected"
                                        {% endif %}
                                    >
                                        {{ option.name | escape }}
                                    </option>
                                {% endfor %}
                            </select>
                            <span class="svg-wrapper">
                                {{ 'icon-caret.svg' | inline_asset_content }}
                            </span>
                        </div>
                    </div>
                </div>

                <div class="results-count">
                    <h2 id="ProductCount" class="product-count">
                        <span>
                            {% if collection.results_count %}
                                {% if collection.results_count == 1 %}
                                    {{ collection.results_count }} result for {{ collection.terms }}
                                {% else %}
                                    {{ collection.results_count }} results for {{ collection.terms }}
                                {% endif %}
                            {% elsif collection.products_count == collection.all_products_count %}
                                {% if collection.products_count == 1 %}
                                    {{ collection.products_count }} product
                                {% else %}
                                    {{ collection.products_count }} products
                                {% endif %}
                            {% else %}
                                {% if collection.products_count == 1 %}
                                    {{ collection.all_products_count }} of {{ collection.products_count }} product
                                {% else %}
                                    {{ collection.all_products_count }} of {{ collection.products_count }} products
                                {% endif %}
                            {% endif %}
                        </span>
                    </h2>
                    <div class="hidden">
                        <span id="ProductCountDesktop">
                            {# Same content as ProductCount, used for desktop view #}
                            {% if collection.results_count %}
                                {% if collection.results_count == 1 %}
                                    {{ collection.results_count }} result for {{ collection.terms }}
                                {% else %}
                                    {{ collection.results_count }} results for {{ collection.terms }}
                                {% endif %}
                            {% elsif collection.products_count == collection.all_products_count %}
                                {% if collection.products_count == 1 %}
                                    {{ collection.products_count }} product
                                {% else %}
                                    {{ collection.products_count }} products
                                {% endif %}
                            {% else %}
                                {% if collection.products_count == 1 %}
                                    {{ collection.all_products_count }} of {{ collection.products_count }} product
                                {% else %}
                                    {{ collection.all_products_count }} of {{ collection.products_count }} products
                                {% endif %}
                            {% endif %}
                        </span>
                    </div>
                </div>
            </form>
        </facet-filters-form>

        <div class="collection-content">
            <aside class="facets-container">
                {% render 'facets', results: collection, paginate: paginate %}
            </aside>

            <div id="ProductGridContainer" class="product-grid-container"></div>
        </div>
    {% endpaginate %}
</div>

{% schema %}
{
    "name": "Collection Product Grid",
    "tag": "section",
    "class": "collection-product-grid__container",
    "settings": []
}
{% endschema %}
