{{ 'customer.css' | asset_url | stylesheet_tag }}
<div class="main-account__wrapper">
    <div class="main-account__header">
        <h1>Account Details</h1>
        {{ 'Logout' | customer_logout_link }}
    </div>
    <div class="main-account__content-wrapper">
        <div class="main-account__account-details-wrapper">
            <h4 class="main-account__first-name">
                {{ customer.first_name }}
                {{ customer.last_name }}
            </h4>
            <p>{{ customer.email }}</p>
            <h4 class="main-account__address">Primary Address</h4>
            <p>{{ customer.default_address | format_address }}</p>
            <p>
                <a class="main-account__addresses-link" href="{{ routes.account_addresses_url }}"
                    >View Addresses ({{ customer.addresses_count }})</a
                >
            </p>
        </div>
        <div class="main-account__orders-wrapper">
            <h4 class="main-account__orders-title">Order History</h4>
            <div class="main-account__orders-table-wrapper" style="width: 100%;">
                {% if customer.orders_count != blank %}
                    {% paginate customer.orders by 10 %}
                        {% for order in customer.orders %}
                            <table class="main-account__order-table">
                                <thead>
                                    <tr>
                                        <th>Order</th>
                                        <th>Date</th>
                                        <th>Payment Status</th>
                                        <th>Fulfillment Status</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <a href="{{ order.customer_url }}">{{ order.name }}</a>
                                        </td>
                                        <td>{{ order.created_at | date: '%B %d, %Y' }}</td>
                                        <td>{{ order.financial_status }}</td>
                                        <td>{{ order.fulfillment_status }}</td>
                                        <td>{{ order.total_price | money }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        {% endfor %}

                        {{ paginate | default_pagination }}
                    {% endpaginate %}
                {% else %}
                    <p class="main-account__no-orders">You haven't placed any orders yet.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% schema %}
{
    "name": "Main Account",
    "tag": "section",
    "class": "main-account__container",
    "settings": []
}
{% endschema %}
