{{ 'navbar.css' | asset_url | stylesheet_tag }}
{{ 'mega-menu.css' | asset_url | stylesheet_tag }}
{{ 'header-search.css' | asset_url | stylesheet_tag }}
{{ 'header-search-md-sm.css' | asset_url | stylesheet_tag }}
<script src="{{ 'navbar.js' | asset_url }}" defer></script>
<script src="{{ "predictive-search.js" | asset_url }}" defer></script>
{% if section.settings.logo_position == 'middle' %}
    <nav id="subnavbar-wrapper-xl" class="subnavbar-wrapper">
        <ul class="nav-list">
            <li class="nav-item" id="logo">
                <a href="{{ routes.root_url }}">
                    {% if settings.logo != blank %}
                        {{ settings.logo | image_url: width: settings.logo_width }}
                    {% else %}
                        <img src="{{ 'sartorial-logo.webp' | asset_url }}" width="150" height="auto">
                    {% endif -%}
                </a>
            </li>
            <li class="nav-item" id="second-item">
                <ul class="inner-list">
                    {% for link in linklists['main-menu'].links %}
                        {% if forloop.index0 == 3 %}
                            {% break %}
                        {% else %}
                            <li class="inner-item">
                                <a data-index="{{ forloop.index0 }}" class="nav-link" href="{{ link.url }}">
                                    {{- link.title -}}
                                </a>
                                {% render 'mega-menu', link: link, index: forloop.index0 %}
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </li>
            <li class="nav-item" id="third-item">
                <ul class="inner-list">
                    {% for link in linklists['main-menu'].links offset: 3 %}
                        {% if forloop.index0 == 6 %}
                            {% break %}
                        {% else %}
                            <li class="inner-item">
                                <a class="nav-link" href="{{ link.url }}">{{ link.title }}</a>
                                {% render 'mega-menu', link: link %}
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </li>
            <li class="nav-item" id="fourth-item">
                {% render 'header-search' %}
            </li>
        </ul>
    </nav>
    <nav id="subnavbar-wrapper-md" class="subnavbar-wrapper">
        <ul class="nav-list">
            <li class="nav-item" id="logo">
                <a href="{{ routes.root_url }}">
                    {% if settings.logo != blank %}
                        {{ settings.logo | image_url: width: settings.logo_width }}
                    {% else %}
                        <img src="{{ 'sartorial-logo.webp' | asset_url }}" width="150" height="auto">
                    {% endif -%}
                </a>
            </li>
            <li class="nav-item" id="second-item">
                <ul class="inner-list">
                    {% for link in linklists['main-menu'].links %}
                        {% if forloop.index0 == 3 %}
                            {% break %}
                        {% else %}
                            <li class="inner-item">
                                <a data-index="{{ forloop.index0 }}" class="nav-link" href="{{ link.url }}">
                                    {{- link.title -}}
                                </a>
                                {% render 'mega-menu', link: link, index: forloop.index0 %}
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </li>
            <li class="nav-item" id="third-item">
                <ul class="inner-list">
                    {% for link in linklists['main-menu'].links offset: 3 %}
                        {% if forloop.index0 == 6 %}
                            {% break %}
                        {% else %}
                            <li class="inner-item">
                                <a class="nav-link" href="{{ link.url }}">{{ link.title }}</a>
                                {% render 'mega-menu', link: link %}
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </li>
            <li class="nav-item" id="fourth-item">
                <button class="search-button">
                    <svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"/>

                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>

                        <g id="SVGRepo_iconCarrier"> <path d="M15.7955 15.8111L21 21M18 10.5C18 14.6421 14.6421 18 10.5 18C6.35786 18 3 14.6421 3 10.5C3 6.35786 6.35786 3 10.5 3C14.6421 3 18 6.35786 18 10.5Z" stroke="#000000" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"/> </g>
                    </svg>
                </button>
            </li>
            {% render 'main-search' %}
        </ul>
    </nav>
    <nav id="subnavbar-wrapper-sm">
        <ul class="nav-list-mobile">
            <li class="nav-item-mobile" id="hamburguer-menu-container">
                <div class="hamburger-menu-mobile">
                    <div id="first-line-hamburguer" class="hamburguer-line"></div>
                    <div id="first-line-hamburguer" class="hamburguer-line"></div>
                    <div id="first-line-hamburguer" class="hamburguer-line"></div>
                </div>
            </li>
            <li class="nav-item-mobile">
                <a href="{{ routes.root_url }}">
                    {% if settings.logo != blank %}
                        {{ settings.logo | image_url: width: settings.logo_width }}
                    {% else %}
                        <img
                            src="{{ 'sartorial-logo.webp' | asset_url }}"
                            width="150"
                            height="auto"
                            alt="Sartorial Store Logo"
                        >
                    {% endif %}
                </a>
            </li>
            <li class="nav-item-mobile">
                <button class="search-button">
                    <svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"/>

                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>

                        <g id="SVGRepo_iconCarrier"> <path d="M15.7955 15.8111L21 21M18 10.5C18 14.6421 14.6421 18 10.5 18C6.35786 18 3 14.6421 3 10.5C3 6.35786 6.35786 3 10.5 3C14.6421 3 18 6.35786 18 10.5Z" stroke="#000000" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"/> </g>
                    </svg>
                </button>
                {% render 'main-search' %}
                <a class="cart-link-mobile" href="{{ routes.cart_url }}">
                    <span data-item-count="{{ cart.item_count }}" class="cart-icon-mobile">
                        <svg
                            width="20px"
                            height="20px"
                            viewBox="0 0 24 24"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <g id="SVGRepo_bgCarrier" stroke-width="0"/>

                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>

                            <g id="SVGRepo_iconCarrier"> <path d="M15 11C15 12.6569 13.6569 14 12 14C10.3431 14 9 12.6569 9 11M4 7H20M4 7V13C4 19.3668 5.12797 20.5 12 20.5C18.872 20.5 20 19.3668 20 13V7M4 7L5.44721 4.10557C5.786 3.428 6.47852 3 7.23607 3H16.7639C17.5215 3 18.214 3.428 18.5528 4.10557L20 7" stroke="#000000" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"/> </g>
                        </svg>
                    </span>
                </a>
            </li>
        </ul>
    </nav>
{% else %}
    <div></div>
{% endif %}

{% schema %}
{
    "name": "NavBar",
    "tag": "section",
    "class": "main-navbar-wrapper",
    "settings": [
        {
            "type": "select",
            "id": "logo_position",
            "label": "Logo Position",
            "options": [
                {
                    "value": "left",
                    "label": "Left"
                },
                {
                    "value": "middle",
                    "label": "Middle"
                }
            ],
            "default": "middle"
        }
    ],
    "presets": [
        {
            "name": "NavBar"
        }
    ]
}
{% endschema %}
