{{ 'navbar.css' | asset_url | stylesheet_tag }}
{{ 'navbar-tablet.css' | asset_url | stylesheet_tag }}
{{ 'navbar-mobile.css' | asset_url | stylesheet_tag }}
{{ 'mega-menu.css' | asset_url | stylesheet_tag }}
{{ 'header-search.css' | asset_url | stylesheet_tag }}
{{ 'header-search-md-sm.css' | asset_url | stylesheet_tag }}
<script src="{{ 'navbar.js' | asset_url }}" type="module" defer></script>
<script src="{{ 'navbar-mobile.js' | asset_url }}" type="module" defer></script>
<nav id="subnavbar-wrapper-xl" class="subnavbar-wrapper">
    <ul class="nav-list">
        <li class="nav-item" id="logo">
            <a aria-label="Sartorial Store Home" href="{{ routes.root_url }}">
                {% if settings.logo != blank %}
                    {{ settings.logo | image_url: width: settings.logo_width }}
                {% else %}
                    <img src="{{ 'sartorial-logo.webp' | asset_url }}" alt="Sartorial Logo" width="150" height="auto">
                {% endif -%}
            </a>
        </li>
        <li class="nav-item" id="second-item">
            <ul class="inner-list">
                {% for link in linklists['main-menu'].links %}
                    {% if forloop.index0 == 3 %}
                        {% break %}
                    {% else %}
                        <li class="inner-item">
                            <a data-index="{{ forloop.index0 }}" class="nav-link" href="{{ link.url }}">
                                {{- link.title -}}
                            </a>
                            {% render 'mega-menu', link: link, index: forloop.index0 %}
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </li>
        <li class="nav-item" id="third-item">
            <ul class="inner-list">
                {% for link in linklists['main-menu'].links offset: 3 %}
                    {% if forloop.index0 == 6 %}
                        {% break %}
                    {% else %}
                        <li class="inner-item">
                            <a class="nav-link" href="{{ link.url }}">{{ link.title }}</a>
                            {% render 'mega-menu', link: link %}
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </li>
        <li class="nav-item" id="fourth-item">
            {% render 'header-search' %}
        </li>
    </ul>
</nav>
{% render 'navbar-tablet' %}
{% render 'navbar-mobile' %}
{% render 'mobile-navbar-links' %}

{% schema %}
{
    "name": "NavBar",
    "tag": "section",
    "class": "main-navbar-wrapper",
    "settings": [],
    "presets": []
}
{% endschema %}
