{{ 'flickity.min.css' | asset_url | stylesheet_tag }}
{{ 'product-slider.css' | asset_url | stylesheet_tag }}
<script src="{{ 'flickity.pkgd.min.js' | asset_url }}" defer></script>
<script src="{{ 'product-slider.js' | asset_url }}" defer></script>

<div class="product-slider__container">
    <div class="product-slider__header">
        <h3>Collection</h3>
        <a href="">Collection Link</a>
    </div>
    <div
        class="product-slider__carousel"
    >
        {% for product in section.settings.collection.products %}
            <article class="product-slider__carousel-cell">
                <header class="product-slider__cell-header">
                    <a href="{{ product.url }}">
                        <div class="product-slider__cell-image">
                            {{
                                product.featured_image
                                | image_url: width: 200, crop: 'top'
                                | image_tag: alt: product.title, class: 'product-slider__image'
                            }}
                        </div>
                        <div class="product-slider__cell-image">
                            {{
                                product.images[1]
                                | image_url: width: 200, crop: 'top'
                                | image_tag: alt: product.title, class: 'product-slider__second-image'
                            }}
                        </div>
                        <button data-open-modal class="product-slider__open-modal">QUICK VIEW</button>
                        <dialog data-modal class="product-slider__modal">
                            <div class="product-slider__carousel-dialog">
                                {% for image in product.images %}
                                    <div class="product-slider__carousel-dialog-cell">
                                        {{ image | image_url: width: 200, crop: 'top' | image_tag: alt: product.title }}
                                    </div>
                                {% endfor %}
                            </div>
                            <div></div>
                        </dialog>
                    </a>
                </header>
                <main class="product-slider__cell-main">
                    <a href="{{ product.url }}">
                        <h4>{{ product.title }}</h4>
                        <p>{{ product.price | money }}</p>
                    </a>
                </main>
            </article>
        {% endfor %}
    </div>
</div>

{% schema %}
{
    "name": "Product Slider",
    "tag": "section",
    "class": "product-slider__container",
    "settings": [
        {
            "type": "text",
            "id": "header",
            "label": "Carousel Header",
            "default": "Header for Carousel",
            "info": "This is the header that goes on the left of the carousel. Pointing to the selected collection"
        },
        {
            "type": "text",
            "id": "link",
            "label": "Link to Collection Text",
            "default": "Link to Collection"
        },
        {
            "type": "collection",
            "id": "collection",
            "label": "Collection to Display"
        }
    ],
    "presets": [
        {
            "name": "Product Slider"
        }
    ]
}
{% endschema %}
